body {

}

h1 {
    color: #F4D35E;
}

h2 {

}

header {
    background-color: #0D3B66;
}

nav {
    background-color:#0D3B66;
    min-width: 100%;
    color: #F4D35E;
    display: inline-block;
}

nav ul {

}

nav ul li {

}

nav ul li a {

}

nav ul li:hover {

}

blockquote {

}

main {
    background-color: #FAF0CA;
}

table {

}

footer {
    background-color: #0D3B66;
}
