body {

}

h1 {
    font-size: 10em;
    color: #0D3B66;
    font-family: 'Press Start 2P', cursive;
    margin-left: 45%;
    padding: 15px;
}

h2 {
    font-size: 6em;
    color: #0D3B66;
    font-family: 'Press Start 2P', cursive;
    margin-left: 50%;
    padding: 15px;
}

#h2part2 {
    margin-left: 55%;
}

header {
    background-color: #F4D35E;
    height: 800px;
    width: 100%;
}

nav {
    background-color:#0D3B66;
    width: 100%;
    color: #F4D35E;
    display: inline-block;
}

nav ul {
    padding: 15px 10px;
    background-color: #0D3B66;
}

nav ul li {
    color: #F4D35E;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 10%;
}

nav ul li a {
    color: #F4D35E;
    font-size: 2em;
    text-decoration: none;

}

nav ul li:hover {
    text-decoration: underline;
}

blockquote {

}

main {
    background-color: #FAF0CA;
    font-size: 2.5em;
    width: 100%
}

#container {
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
}

article {
    text-align: justify;
    text-justify: inter-word;
}

article section {
    padding: 150px 20%;
}

#section2 {
    background-color: red;
    color: black;
}

#section3 {
    background-color: navy;
    color: aliceblue;
}

table {

}

footer {
    background-color: #0D3B66;
    color: white;
    text-align: center;
}
