* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #FAF0CA;
}

h1 {
    font-size: 12em;
    color: #0D3B66;
    font-family: 'Press Start 2P', cursive;
    margin-left: 20%;
    padding: 10px;
}

h2 {
    font-size: 6em;
    color: #0D3B66;
    font-family: 'Press Start 2P', cursive;
    margin-left: 15%;
    padding: 15px;
}

#h2part2 {
    margin-left: 30%;
}

header {
    background-color: #F4D35E;
    height: 800px;
    width: 100%;
}

nav {
    background-color:#0D3B66;
    width: 100%;
    color: #F4D35E;
}

nav ul {
    padding: 15px 10px;
    background-color: #0D3B66;
}

nav ul li {
    color: #F4D35E;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 10%;
}

nav ul li a {
    color: #F4D35E;
    font-size: 2em;
    text-decoration: none;

}

nav ul li:hover {
    text-decoration: underline;
}

blockquote {

}

.background {
    background-color: #FAF0CA;
}

main {
    background-color: #FAF0CA;
    font-size: 2.5em;
    width: 100%
}

#container {
    padding: 3% 0;
    margin: 0 auto;
    width: 80%;
    min-height: 500px;
}

article {
    text-align: justify;
    text-justify: inter-word;
}

article section {
    padding: 150px 20%;
}

.homeHeader {
    text-decoration: underline;
    text-align: center;
}

#section2 {
    background-color:#0D3B66;
    color: #F4D35E;
}

#section3 {
    background-color: #FAF0CA;
    color: black;
}

.learnMore {
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
}

.learnMore:hover {
    text-decoration: underline;
}

.headertext {
    margin-left: 45px;
}

.info {
    margin-left: 60px;
}

.frame {
	position: relative;
	max-width: 425px;
	margin: 2% auto;
}

.center {
    text-align: center;
}

#companystuff h3 {
    font-size: 1.5em;
    text-decoration: underline;
}

#companystuff h4 {
    font-size: 1.2em;
}

.left {
    float: left;
    width: 500px;
    height: 400px;
}

.right {
    float: right;
    width: 500px;
    height: 600px;
}

fieldset {
    min-height: 50px;
}

.map {
    width: 600px;
    height: 450px;

}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.grid h3, p {
    text-align: center;
}

.grid img{
    width: 300px;
    height: 200px;
    display: inline-block;
}

.grid a {
    background-color: white;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    border-radius: 5px;
    color: black;
}

.grid a:hover {
    background-color: white;
    color: #0D3B66;
    text-decoration: underline;
}

.bluArticle {
    background-color:#0D3B66;
    color: #F4D35E;
}

.bluSection {
    background-color: #0D3B66;
    color:#F4D35E;
}

#workIMG1 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work1.jpeg);
}

#workIMG2 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work2.jpeg);
}

#workIMG3 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work3.jpeg);
}

#workIMG4 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work4.jpeg);
}

#workIMG5 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work5.jpg);
}

#workIMG6 {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-image: url(../images/work6.jpg);
}

table {

}

footer {
    background-color: #0D3B66;
    color: white;
    text-align: center;
}

legend {
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
}
